- @members.each do |member|
  .profile{ style: "float:left;height:240px;" }
    %img{ src: member.profile.image_192 }
    %br
    - name = member.profile.real_name_normalized.present? ? member.profile.real_name_normalized : member.name
    %strong= name
    - if member.profile.title.present?
      %br
      = member.profile.title
